rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open for clinic schema collections so client application can immediately run
    match /test/{document=**} {
      allow read, write: if true;
    }
    match /clientes/{document=**} {
      allow read, write: if true;
    }
    match /servicos/{document=**} {
      allow read, write: if true;
    }
    match /profissionais/{document=**} {
      allow read, write: if true;
    }
    match /agendamentos/{document=**} {
      allow read, write: if true;
    }
    match /transacoes/{document=**} {
      allow read, write: if true;
    }
  }
}
